.people-card{
    background-color: #CBE4DE !important;
    color: #2C3333 !important;
    padding-top: 12px;
    height: 200px !important;
    margin-bottom: 0 !important;
    transition: all 1s;
    opacity: 0.85;
  }

  .people-card:hover{
    opacity: 1;
  }

  

  .hide{
    opacity: 0;
  }
  
.people-card input{
    background: transparent;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.people-card input:hover{
    border: 1px dashed rgb(132, 132, 132);
    padding-top: 4px;
    padding-bottom: 4px;
}

.people-card input:focus{
    border: 1px dashed rgb(132, 132, 132);
    padding-top: 4px;
    padding-bottom: 4px;
}

.error-border{
    border: 1px dashed rgb(132, 132, 132);
    border-color: rgb(239, 44, 44) ;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.motherpay-text {
    margin-top: 4px !important;
    margin-bottom: 13px;
    font-size: 20px;
}

.delete-icon{
    left: 6px ;
    top:8px ;
    cursor: pointer;
    font-size: 16px ;
    border: 2px solid grey;
    width: 24px;
    height: 24px;
    padding: auto;
    color: gray;
    transition: all 0.4s;
}

.delete-icon:hover{
color: rgb(227, 65, 65);
border-color:  rgb(227, 65, 65);
}


.add-people-button{
background-color: #0E8388 !important;
}

.people-card button{
width: 80%;
margin: 6px;
}
