.result-card{
    color: #2C3333 !important;
    background-color: #CBE4DE !important;
  }
  
  .result-card p{
    text-align: right;
    margin-right: 16px;
    font-size: 14px;
  }

.result-header{
    background-color: #2C3333;
    color: azure;
    border-radius: 6px;
}

.minus{
  font-size: 20px !important;
  color: red;
}

.plus{
  font-size: 20px !important;
  color: blue;
}

