input{
    font-size: 18px !important;
    border-radius: 6px;
    width: 70%;
    border: none;
}

.back{
    background-color: #2C3333;
    display: inline-block;
    border-radius: 20px;
    width:96%;
    min-width: 300px;
    max-width: 600px;
    transition: all 1.5s;
}

.hide{
    opacity: 0;
}

.logo img{
    width: 100px;
}
.logo{
    margin-top: 20vh;
}

.logo h1{
    font-family: titraj,vazir;
    font-size: 40px;
}

.logo h2{
    font-size: 20px;
    
}

.start-tag{
    position: relative;
    top:-5px;
    font-weight: bold;
}