.App {
  text-align: center;
}

@font-face {
  font-family: "vazir";   /*Can be any text*/
  src: local("vazir"),
    url("./fonts/vazir/Vazir.ttf") format("truetype");
}

.people-card{
  background-color: #CBE4DE !important;
  color: #2C3333 !important;
  
  margin: 16px !important;
}

.people-card input{
  background: transparent;
  border: none;
  font-size: 20px;
  text-align: center;
  margin: 12px 10px 32px 10px;
  
}

.people-card span{
  margin: 16px !important;
  
}

.motherpay-text{
  margin: 14px;
}





.add-people-button{
  background-color: #0E8388 !important;
  font-size: 24px !important;
}

.people-card button{
  width: 80%;
  margin: 6px;
}

.my-accordion{
  margin: 0 !important;
  width: 100% !important;
}

.accordion-button{
  font-size: 12px !important;
}

