.App {
  text-align: center;
}

@font-face {
  font-family: "vazir";
  src: local("vazir"),
    url("./fonts/Vazir.woff") format("woff");
  font-weight: normal;  
}

@font-face {
  font-family: "vazir";
  src: local("vazir"),
    url("./fonts/Vazir-Bold.woff") format("woff");
  font-weight: bold;  
}


@font-face {
  font-family: "vazir";
  src: local("vazir"),
    url("./fonts/Vazir-FD-WOL.woff") format("woff");
  font-weight: normal; 
}

@font-face {
  font-family: "titraj";
  src:
    url("./fonts/Titraj.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;  
   
}

a{
  color: azure !important;
  text-decoration: none !important;
}

input{
  text-align: center;
  border: 1px dashed rgb(132, 132, 132);
  border-radius: 10px;
  align-self: center;
  
}

/*
 2C3333
 2E4F4F
 0E8388
 CBE4DE
*/